<!doctype html>
<html>
  <head>
    <%= partial "header" %>
    <title>Toast Cafe Blog</title>
  </head>
  <body>
    <%= partial "nav" %>
    <main>
      <%= yield %>
    </main>
    <%= partial "footer" %>
  </body>
</html>
